.divCalculator{
    padding: 10px 20px;
    margin-top: 20px;
    position:center;
}
.buttonMenu{
    background-color: #1976d2;
    color: white;
    font-weight: 900;
    border: none;
    /* width: auto;
    height: auto; */
    padding: 16px;
    min-width: 15%;
    position: relative;
}
.buttonMenu:hover{
    background-color: #4b90d4;
    border-radius: 6px;
}