<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo" src="./assets/img/bola.png"/>
  
  <span>Magic Converter</span>
  <div class="spacer"></div>


  <button mat-button [matMenuTriggerFor]="beforeMenu" class = "buttonMenu">Moedas</button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item>
        <mat-icon svgIcon="usa"></mat-icon>
        <span>Dólar Americano</span>
      </button>
      <button mat-menu-item>
        <mat-icon svgIcon="australia"></mat-icon>
        <span>Dólar Australiano</span>
      </button>
      <button mat-menu-item>
        <mat-icon svgIcon="canada"></mat-icon>
        <span>Dólar Canadense</span>
      </button>
      <button mat-menu-item>
        <mat-icon svgIcon="eu"></mat-icon>
        <span>Euro</span>
      </button>
      <button mat-menu-item>
        <mat-icon svgIcon="uk"></mat-icon>
        <span>Libra</span>
      </button>
    </mat-menu>
</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <!-- <div class="card highlight-card card-small">


    <div class="divCalculator">
      <app-calculadora></app-calculadora>
    </div>


  </div> -->
  
